.appContainer {
  width: 95%;
  max-width: 380px;
  min-width: 300px;
  margin: 20px auto 0;
  padding: 20px 5px;
  border: 2px solid #8e945e;

  background-color: #dde794;
  box-shadow: 10px 5px 7px #8e945e;
  border-radius: 20px;
}

.appContainer h2 {
  margin: 0;
  margin-bottom: 10px;
}
