.homeCont {
  width: 95%;
  max-width: 380px;
  min-width: 300px;
  text-align: center;
  margin: 10px auto 0;
  background-color: #dde794;
  border-radius: 10px;
  padding: 10px 5px;
  box-shadow: 5px 3px 10px #8e945e;
}
